header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid gainsboro;
  padding: 20px 0 10px 0;
  margin-bottom: 10px;
}
.menu {
  width: 20px;
}
.icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.icons-1 {
  width: 20px;
}
.icons-2 {
  width: 20px;
}
.icons-3 {
  width: 20px;
}
.title {
  font-size: 30px;
  font-weight: bold;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.board-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.board-column {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid gainsboro;
  width: 60px;
  height: 60px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;

  font-weight: bold;
  margin-top: 10px;
}
.keyboard-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.keyboard-column {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: gainsboro;
  border-radius: 10px;
  height: 50px;
  width: 30px;
}
.keyboard-column-wide {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: gainsboro;
  border-radius: 10px;

  width: 60px;
  height: 50px;
}
.bs {
  width: 60px;
  height: 30px;
}
